<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="BaseUri" value="http://ApiSamu.somee.com/ApiPublicada/api/"/>
		<!-- Per local posar http://localhost:40237/api/ -->
		<!-- Per azure posar https://api-campalans.azurewebsites.net/ -->
		<!-- http://campalans.somee.com/campalans/api/ -->
	</appSettings>
</configuration>